# Porta da Aplicação
PORT=8080

# Banco de Dados (PostgreSQL)
DB_HOST=localhost
DB_NAME=locadora_db
DB_USERNAME=locadora_user
DB_PASSWORD=locadora_password

# Cache (Redis)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_USERNAME=default
REDIS_PASSWORD=

# APIs Externas
# Obtenha sua chave em http://www.omdbapi.com/apikey.aspx
OMDB_API_KEY=sua_chave_aqui

# Segurança
# Chave secreta para assinatura do JWT (mínimo 32 caracteres)
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
